{% extends 'base.html'%}

{% block titulo %}
    conoce mas
{% endblock titulo %}

{% block contenido %}
<link rel="stylesheet" href="/static/css home/conoce.css">
   <p><h2>contenidos interesantes para ti </h2></p> 

    <div class="cont">
        <img class="j"src="/static/img/pua-de-guitarra.jpg" alt="">
        <section>
            <h3>Púas para guitarras: consejos para elegir la tuya</h3><br>
            <p>A la hora de aprender a tocar la guitarra eléctrica, uno de los pasos más complicados pero también imprescindibles es aprender a coger la púa, algo que parece muy sencillo en un principio, pero que como saben todos los guitarristas, puede suponer la diferencia entre seguir tocando o dejarlo, por puro cansancio. Tocar con púa es hoy por hoy muy habitual en prácticamente todos los estilos de música que llevan guitarra eléctrica, y si bien es cierto que también hay muchos guitarristas que prefieren tocar con los dedos, arpegiando o incluso haciendo los solos de esa manera, para crear acordes o power chords el uso de la púa es imprescindible. Y no se trata solo de aprender a cogerla y utilizarla, sino también de escoger la púa que más va con nuestro sonido, con el estilo que tocamos o con el tipo de interpretación que queremos hacer.
                Para los profanos, los que ven la música desde fuera, seguramente todas las púas les parezcan iguales, y no sean más que un simple complemento que utilizan los guitarristas para tocar más cómodamente.</p>
        </section>
        <img src="/static/img/divisoria_02.png" alt="">
        <section>
            <img class="j"src="/static/img/jaz.jpeg" alt="">
            <h3>Jazz, cómo surge este género</h3><br>
            <p>Actualmente considerada como una de las músicas más elegantes, ametrallada en cientos de bares y locales elegantes, en ascensores, en cualquier lugar que piense que poniendo un poco de Miles Davis ya subirá su caché, el jazz ha cambiado mucho desde sus inicios. Es un estilo que muta, pero que también se mantiene fiel a su raíz. Como en cualquier estilo que posee ya cierto recorrido, en el jazz encontramos igualmente a músicos innovadores que quieren llevar el estilo  mucho más allá, y otros que solo quieren recordar los buenos y viejos tiempos, desacreditando a todo el jazz que se hace ahora, como pensando que no está a la altura de lo que había anteriormente. Para entender este tipo de visión hemos de viajar al pasado, a la propia raíz del jazz y al momento en el que este género surge en la Costa Este de Estados Unidos.
                La historia de la música se va expandiendo en cada año, en cada época, con la aparición de nuevos géneros, de nuevos estilos, de nuevos artistas que siguen elevando este arte a su máxima potencia. Sobre gustos no hay nada escrito, y hay personas que aman la música clásica pero detestan el rock, mientras que otras sientan verdadera devoción por el  heavy metal, y no quieren escuchar el nuevo estilo de moda, ya sea el reggeaton o el trap. Cada cual tiene su estilo favorito, pero está claro que hay algunos que han sobrepasado barreras de gustos y se han convertido en esenciales para entender el desarrollo de la música, incluso como reflejo de una cultura concreta, de una sociedad, a lo largo de una época. El jazz es una de las músicas que mejor encajan en esta definición.
            </p>
        </section>
        <img src="/static/img/divisoria_02.png" alt="">
        <section>
            <img class="j"src="/static/img/baja_frec.jpg" alt="">
            <h3>Música de baja frecuencia</h3><br>
            <p>Esta es una música que ayuda a generar una atmósfera relajante. En gran medida, es similar al ruido blanco, que queda de fondo.

                Comprobarás que se tratan de sonidos lentos y armoniosos sintetizados, con predominio de notas de baja frecuencia. Estos bajos crean un ambiente perfecto para estudiar, trabajar, o para relajarse.
                
                Se puede utilizar esta música también para meditación, terapias reiki y similares.
                
                En mi caso, suelo escribir y programar con esta música de fondo durante muchas horas al día. Cada tanto, lo combino con periodos de silencio.</p>
        </section>
    </div>
{% endblock contenido %}