{% extends 'base.html'%}

{% block titulo %}
    inicio
{% endblock titulo %}

{% block contenido %}
    <link rel="stylesheet" href="/static/css home/inicio.css">

        <img class="img1"src="/static/img/fond.jpg"  alt="...">

    
    <div class="contenido">
        <h1 class="titulo">ZMUSICs</h1><br>
        <p>En Zmusics podras encontrar imformacion acerca de artistas musicales recomendados, 
        y sus lanzamientos o proyectos de musica, enfocado a jovenes , 
        con subgeneros y estilos nuevos y completamente frescos.
        contenido en musica nueva (recomendada) y albums musicales con
        estilos nuevos.
        </p>
        <p>puedes echar un vistazo a albums con estilos completamente diferentes y conoce mas </p>
    </div>

    <section>
        <img id="prod"src="/static/img/produccion-musical.jpg" alt="">
        <h1>Aplicaciones para crear música, una buena forma de producir canciones de forma fácil</h1><br>
        <p>La música es sin duda una de las artes más populares, una de las que más dinero mueve en el mundo, 
            y es que es complicado, por no decir imposible, encontrar a alguien a quien no le guste la música, 
            aunque sea un estilo determinado, un grupo o un artista concreto.</p>
            
        <p> La música vive días complicados, 
            o al menos así lo parece si miramos la industria, que está tratando de adaptarse a duras penas a la 
            era digital y que sigue todavía empeñada en vender en formato físico cuando parece que esos tiempos 
            quedaron muy atrás y que hoy todo el mundo lleva su música digitalmente en el pendrive o en el móvil.
            Las tecnologías han dado paso a una nueva era tanto en la manera en la que se escucha y se consume la
            música como también en la forma en la que se crea y se produce. 
            
        <p>Los ordenadores, los instrumentos virtuales
            e incluso los dispositivos móviles sirven hoy en día para crear canciones casi sobre la marcha, y conseguir
            éxitos que luego se suben directamente a internet, a diferentes plataformas, donde llegan a millones de 
            usuarios en tan solo un click. Existen numerosas aplicaciones para crear música, y nosotros hemos querido 
            concentrar aquí algunas de las mejores.</p>

    </section>

    <section>

    </section>

{% endblock contenido%}